@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="margin-top: -100px">
    <div class="container">
        <div class="row justify-content-md-center text-center">
            <div class="col-md-3 col-sm-12 p-3 p-md-0 my-3 my-md-0 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
                <i class="bi bi-robot"></i>
                <h3>RPA</h3>
                <p class="text-primary cabecera">
                    Stack:
                </p>
                <p>
                    Blue Prism, Power Automate
                </p>
                <p class="text-primary cabecera">
                    Experiencia:
                </p>

                <ul>
                    <li>Uso de APIs Web</li>
                    <li>Automatización de sistemas SAP, Web</li>
                    <li>Inyección de JavaScript</li>
                    <li>Uso de buenas prácticas RPA</li>
                    <li>Documentación Técnica</li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-12 p-3 p-md-0 my-3 my-md-0 bg-white habilidades" style="box-shadow: 0 5px 5px 0 gray;">
                <i class="bi-hdd-fill"></i>
                <h3>Back-end</h3>
                <p class="text-primary cabecera">
                    Stack:
                </p>
                <p>
                    ASP.NET, SQL Server
                </p>
                <p class="text-primary cabecera">
                    Experiencia:
                </p>

                <ul>
                    <li>Web APIs</li>
                    <li>MCV</li>
                    <li>C#</li>
                    <li>Entity Framework Core</li>
                    <li>Principios SOLID</li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-12 p-3 p-md-0 my-3 my-md-0 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray;">
                <i class="bi bi-code-slash"></i>
                <h3>Front-End</h3>
                <p class="text-primary cabecera">
                    Stack:
                </p>
                <p>
                    React, JavaScript, TypeScript
                </p>
                <p class="text-primary cabecera">
                    Experiencia:
                </p>

                <ul>
                    <li>React Hooks</li>
                    <li>Bootstrap</li>
                    <li>Ajax</li>
                </ul>
            </div>
        </div>
    </div>
</div>