@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Matias Chedas</h1>
    <h2>Desarrollador Web .NET | Desarrollador RPA | Ingeniero Informático</h2>
    <picture>
        <source srcset="~/imagenes/foto1.webp" type="image/webp"/>
        <source srcset="~/imagenes/foto1.jpg" type="image/jpeg"/>
        <img src="~/imagenes/foto1.jpg" alt="Foto Matias Chedas" style="width: 200px; margin: 2rem 0; border-radius: 50%" />
    </picture>
</div>


<div class="row justify-content-center text-center bg-primary ">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Soy desarrollador RPA profesional desde 2021. He podido participar en proyectos para empresas como YPF, Arcor, Total Energies y Capex
            automatizando todo tipo de procesos empresariales utilizando principalmente las tecnologías: Blueprism, JavaScript, SQL, Power Automate, Power Apps, entre otras.
            En los ultimos años tambien me estuve capacitando en desarrollo web con el stack de tecnologías: .NET, SQL Server, Entity Framework, HTML, CSS, TypeScript, Bootstrap, React.
        </p>
    </div>
</div>