@model IEnumerable<ProyectoDTO>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const reveals = document.querySelectorAll(".reveal");
            console.log('aca si entro')
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    console.log('Intersection:', entry.target, entry.isIntersecting);
                    if (entry.isIntersecting) {
                        entry.target.classList.add("visible");
                        observer.unobserve(entry.target);
                    }
                });
            }, {
                threshold: 0.1,
                rootMargin: "0px 0px -50px 0px"
            });

            reveals.forEach(el => observer.observe(el));
        });
    </script>


@if (Model is not null)
{
    <div class="reveal" >
            <div style="padding-top: 6rem;">
                <div class="text-center align-items-center" style="padding-top: 5rem;">
                    <h1>Mis trabajos recientes</h1>
                    <p>Aquí puedes ver algunos de mis trabajos más recientes.</p>
                </div>
            </div>
       <partial name="_ListadoProyectos" model="Model"/>
    </div>
}

